<section>

    <div class="container mt-5">
        <div class="row epro">
            <div class="col-md-12">
                <h2 class=" addpr text-center">Add Certificates</h2>
                <form action="/admin/adcert" method="POST" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">

                    
                     <label for="">Validity</label>
                    <input type="text" name="Validity" class="form-control">

                     <label for="">Issued</label>
                    <input type="text" name= "Issued" class="form-control">


                     <label for="">Image</label>
                    <input type="file" name="Image" class="form-control">

                    <button type="submit" class="sbt  btn btn-success mt-4">Submit</button>
                </form>

            </div>
        </div>
    </div>

</section>



<style>
    body{
        background-color: rgb(151, 153, 160);
    }
.container{
    align-items: center;
    width: 40%;
    background: rgb(53, 63, 75);
     color: #c69963;
     margin-bottom: 10px;
     border-radius: 15px;
}

.addpr{
    margin-top: 11px;
    font-size: 1.7rem;
}

.sbt{
    margin-bottom: 8px;
    font-size: 13px;
}

label{
    margin-top: 5px;
}



@media(max-width:1249px){
.epro{
   
    margin-top: 6rem;
  
}
@media(max-width:1182px){
.container{
   
    width: 50%;
  
}


@media(max-width:756px){
.container{
   
    width: 60%;
  
}


@media(max-width:548px){
.container{
   
    width: 85%;
  
}



@media(max-width:281px){

.addpr{
    
    font-size: 1.3rem;
}
</style>

