
<div class="row lgb" >
  <div class="col-md-4 col-1" >


  </div>

  <div class="col-md-4 col-1">
    
      <div class="login-box" >
        <h2>Login</h2>

        {{#if loginErr}}
          <p class="error">{{loginErr}}</p>
          {{/if}}

        <form action="/login" method="POST">
          <div class="user-box"  >
            <input type="email"  name="Email" required="">
            <label>Email address</label>
          </div>
          <div class="user-box">
            <input type="password" name="Password" required="">
            <label>Password</label>
          
          </div>
          <a href="" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          <button type="submit" > Submit</button>
          </a>

          <a href="/signup" style="font-size: 7px;">Create new account ?</a>
        </form>
  </div>

  </div>
</div>

<style>

  p{
    color: white;
  }
  a {
  color: #00B7FF;
  
}

body {
  margin:0;
  padding:0;
  
 
  background: rgb(73, 71, 100);
}

.login-box {
 
  
  width: 400px;
  padding: 30px;
  margin-top: 5rem;
 
  margin-right: 35%;
  
  
  
  background: rgba(0,0,0,.5);
 
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 22px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

@media(max-width:769px){
  
.login-box {
 
  
  width: 380px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 0rem;
 
}

}


@media(max-width:766px){
  
.login-box {
 
  
  width: 400px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
  
 
}


@media(max-width:661px){
  
.login-box {
 
  
  width: 400px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 3rem;
 
}

}


@media(max-width:581px){
  
.login-box {
 
  
  width: 400px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 2rem;
 
}

}

@media(max-width:541px){
  
.login-box {
 
  
  width: 400px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 0rem;
 
}

}


@media(max-width:472px){
  
.login-box {
 
  
  width: 300px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  
 
}


@media(max-width:424px){
  
.login-box {
 
  
  width: 300px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  
 
}

@media(max-width:390px){
  
.login-box {
 
  
  width: 300px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  
 
}


@media(max-width:380px){
  
.login-box {
 
  
  width: 280px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  
 
}
@media(max-width:360px){
  
.login-box {
 
  
  width: 293px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
  
 
}

@media(max-width:352px){
  
.login-box {
 
  
  width: 270px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
  
 
}


@media(max-width:320px){
  
.login-box {
 
  
  width: 230px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  
 
}


@media(max-width:309px){
  
.login-box {
 
  
  width: 200px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
  
 
}


@media(max-width:281px){
  
.login-box {
 
  
  width: 253px;
  padding: 30px;
  margin-top: 5rem;
  margin-left: -1rem;
  margin-bottom: 3rem;
  
 
}
</style>